---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/278/images?api_key=<MOVIE_API_KEY>&include_image_language=en,null&language=en-US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 6faf517046f88f85ff774dc92b00b038d7f096b1
      X-Memc-Age:
      - '8469'
      X-Memc-Expires:
      - '13131'
      Etag:
      - W/"4f9de598aaa2254b7be1106bc436fedb"
      Last-Modified:
      - Wed, 09 Dec 2020 22:44:00 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"id":278,"backdrops":[{"aspect_ratio":1.777777777777778,"file_path":"/iNh3BivHyg5sQRPP1KOkzguEX0H.jpg","height":1080,"iso_639_1":null,"vote_average":5.522,"vote_count":4,"width":1920},{"aspect_ratio":1.777777777777778,"file_path":"/xXXFdqV965crlxCO3dj3PhtcCAf.jpg","height":2160,"iso_639_1":"en","vote_average":5.312,"vote_count":1,"width":3840},{"aspect_ratio":1.777777777777778,"file_path":"/9Xw0I5RV2ZqNLpul6lXKoviYg55.jpg","height":1080,"iso_639_1":null,"vote_average":5.312,"vote_count":1,"width":1920},{"aspect_ratio":1.777777777777778,"file_path":"/ybQChWyYRbEmLCVeyK06xFM9gj4.jpg","height":1080,"iso_639_1":"en","vote_average":5.312,"vote_count":1,"width":1920},{"aspect[...]
